<div class="best_container">
  <app-card
		gameCover="https://image.api.playstation.com/pr/bam-art/164/301/00edc758-735c-4f5c-8b67-e648c608211b.png?w=440"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 119,99"
	>
	</app-card>
  <app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202301/0606/LcJQRl73VBrwvkb2gVWXCysA.png?w=440"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 129,99"
	>
	</app-card>
  <app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/1515/1cc63f4f4b2c9a9852fabefba4ca7eea936b1ef7867811a5.png?w=440"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 69,99"
		>
	</app-card>
</div>
