<div class="sale_container">
  <app-card
  gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202310/0214/c21c0669eaca7f3e02c41cad5e1a20f867aafcf14104f046.png?w=440&thumb=false"
  gameLabel="SALE"
  gameType="DISC | PS5"
  gamePrice="R$ 119,99"
>
</app-card>
<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/2315/607d9ed1ac762c9de33ef73fd09b3431d0b96ef4985ac2fb.png?w=440"
		gameLabel="SALE"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 99,99"
	>
	</app-card>
  <app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/1711/3f33d803124d61c8499300a62143ce52a6a9b721395657a8.png?w=230"
		gameLabel="SALE"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 79,99"
	>
	</app-card>
</div>
