<div class="home__container">
	<app-card
		gameCover="https://image.api.playstation.com/pr/bam-art/164/602/e0753123-4f8e-4bb4-bb3b-df55e0bfb75d.png?w=620&thumb=false"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 129,99"
	>
	</app-card>
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202310/0214/c21c0669eaca7f3e02c41cad5e1a20f867aafcf14104f046.png?w=440&thumb=false"
		gameLabel="SALE"
		gameType="DISC | PS5"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/1515/1cc63f4f4b2c9a9852fabefba4ca7eea936b1ef7867811a5.png?w=440"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 69,99"
		>
	</app-card>
	<app-card
		gameCover="https://image.api.playstation.com/pr/bam-art/164/555/48f615f1-c9d2-419b-90a1-9a86cbb5d35d.jpg?w=440"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
	>
	</app-card>
  <app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202308/1623/ba00d855b4f9061f4f7c294506753f58bf33ac28453a8de4.png?w=440"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 169,99"
	>
	</app-card>
  <app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202110/2000/phvVT0qZfcRms5qDAk0SI3CM.png?w=230"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 229,99"
	>
	</app-card>
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/2315/607d9ed1ac762c9de33ef73fd09b3431d0b96ef4985ac2fb.png?w=440"
		gameLabel="SALE"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 99,99"
	>
	</app-card>
	<app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202301/0606/LcJQRl73VBrwvkb2gVWXCysA.png?w=440"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 129,99"
	>
	</app-card>
  <app-card
		gameCover="https://image.api.playstation.com/pr/bam-art/164/301/00edc758-735c-4f5c-8b67-e648c608211b.png?w=440"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 119,99"
	>
	</app-card>
  <app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202304/2622/4e22f368d69944cb9a679daab57548668642566a3b419c4e.png?w=230"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 259,99"
	>
	</app-card>
  <app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/1711/3f33d803124d61c8499300a62143ce52a6a9b721395657a8.png?w=230"
		gameLabel="SALE"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="R$ 79,99"
	>
	</app-card>
  <app-card
		gameCover="https://image.api.playstation.com/pr/bam-art/164/584/7db030a8-7ef6-4eed-9865-62e210332c46.jpg?w=440"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL"
		gamePrice="R$ 399,99"
	>
	</app-card>
</div>
