<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="assets/psLogo.png"
			alt="playstation logo"
			srcset=""
			width="140px"
			height="32px"
		>
	</div>
	<div class="menu-bar__item">
		<ul>
			<li><a routerLink="ExclusiveGames">Exclusive</a></li>
      <li><a routerLink="/NewGames">New</a></li>
			<li><a routerLink="BestGames">Best Of Year</a></li>
			<li><a routerLink="SaleGames">Sale</a></li>
      <button routerLink="" class="home_button">HOME</button>
		</ul>
	</div>
</div>
