<div class="exclusive_container">
  <app-card
		gameCover="https://image.api.playstation.com/pr/bam-art/164/602/e0753123-4f8e-4bb4-bb3b-df55e0bfb75d.png?w=620&thumb=false"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 129,99"
	>
	</app-card>
  <app-card
		gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202304/2622/4e22f368d69944cb9a679daab57548668642566a3b419c4e.png?w=230"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 259,99"
	>
	</app-card>
  <app-card
		gameCover="https://image.api.playstation.com/pr/bam-art/164/584/7db030a8-7ef6-4eed-9865-62e210332c46.jpg?w=440"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL"
		gamePrice="R$ 399,99"
	>
	</app-card>
</div>
